{% extends "layouts/layout1.html" %}
{% set active_page = "login_user" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">

            <h1><img src="/static/images/logo-header.png" height="75"></h1>
            <p>Open Source file distribution platform for your front-end applications. Written in Python and Flask.</p>
            <ul>
                <li>Manage, categorize and distribute files.</li>
                <li>Create APIs for your front-end applications.</li>
                <li>Customizable self-service portal.</li>
            </ul>

            <p><a href="https://github.com/kendog/coalman">https://github.com/kendog/coalman</a></p>

            <a href="https://github.com/kendog/coalman"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

        </div>
        <div class="col-md-1"></div>

        <div class="col-md-4">

               <h3>Login</h3>

                <hr>

                {% from "security/_macros.html" import render_field_with_errors, render_field %}

                <form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                    {{ login_user_form.hidden_tag() }}
                    {{ render_field_with_errors(login_user_form.email, class="form-control") }}
                    {{ render_field_with_errors(login_user_form.password, class="form-control") }}
                    {{ render_field_with_errors(login_user_form.remember, class="form-control") }}
                    {{ render_field(login_user_form.next) }}
                    {{ render_field(login_user_form.submit, class="btn btn-primary") }}
                </form>

        </div>
    </div>


{% endblock %}