{% extends "layouts/layout1.html" %}
{% set active_section = "admin_packages" %}

{% block title %}Manage Packages{% endblock %}

{% block content %}

    <h3>Manage Packages</h3>

    <hr>

    <table id="packages-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created For</th>
            <th>Download Link</th>
            <th>File(s)</th>
            <th>Packaging</th>
            <th>Notification</th>
            <th>Downloads</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%  for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.user_name }}<br>{{ package.user_email }}</td>
                <td><a href="{{ package.link }}" target="_blank">{{ package.link }}</a></td>
                <td>
                    <ul class="list-unstyled">
                        {%  for file in package.files %}
                            <li>{{ file.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ package.package_status.name }}</td>
                <td>{{ package.notification_status.name }}</td>
                <td>{{ package.downloads }}</td>
                <td>{{ package.created|datetime }}</td>
                <td>{{ package.updated|datetime }}</td>
                <td>
                    <a href="{{ url_for('packages_bp.admin_packages_delete', id=package.id) }}" class="btn btn-danger btn-block btn-xs">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('packages_bp.admin_packages_add') }}" class="btn btn-success">+ Create Package</a>

{% endblock %}

{% block plugins %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            $('#packages-table').DataTable( {
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": [9]
                } ]
            } );
        } );

    </script>

{% endblock %}
