{% extends "layouts/layout1.html" %}
{% set active_page = "index" %}

{% block title %}Coleman{% endblock %}

{% block content %}
    <a href="https://github.com/kendog/coalman"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="row">
        <div class="col-md-12">

            <h1><img src="/static/images/logo-header.png" height="75"></h1>

            <p>Open-source content management, packaging and delivery microservice.</p>
        </div>
    </div>
{% endblock %}