{% extends "layouts/layout1.html" %}
{% set active_page = "reset_password" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">

          <h4>Reset Password</h4>
          <hr>

          {% from "security/_macros.html" import render_field_with_errors, render_field %}
          {% include "security/_messages.html" %}

          <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
            {{ reset_password_form.hidden_tag() }}
            {{ render_field_with_errors(reset_password_form.password, class="form-control") }}
            {{ render_field_with_errors(reset_password_form.password_confirm, class="form-control") }}
            {{ render_field(reset_password_form.submit) }}
          </form>

          <p><a href="{{ url_for('security.login') }}">Login</a></p>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">



        </div>
    </div>


{% endblock %}
