{% extends "layouts/layout1.html" %}
{% set active_section = "messages" %}

{% block title %}Message Templates{% endblock %}

{% block content %}

    {%- if template_mode == "add" %}
      <h3>Add Message Templates</h3>
    {% endif %}
    {%- if template_mode == "edit" %}
      <h3>Edit Message Templates</h3>
    {% endif %}
    {%- if template_mode == "delete" %}
      <h3>Delete Message Templates</h3><p>Are you sure???</p>
    {% endif %}

    <hr>

    <form id="messages-form" method="post" action="">

      <div class="row">
          <div class="col-md-7">

              <hr>

              <div class="form-group">
                    <label for="name">Name:</label>
                    {%- if template_mode == "add" %}
                    <input type="text" class="form-control" id="name" name="name" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input type="text" class="form-control" id="name" name="name" value="{{ message_template.name }}" />
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input type="text" class="form-control" id="name" name="name" value="{{ message_template.name }}" disabled />
                    {% endif %}
              </div>

              <div class="form-group">
                    <label for="subject">Subject:</label>
                    {%- if template_mode == "add" %}
                    <input type="text" class="form-control" id="subject" name="subject" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input type="text" class="form-control" id="subject" name="subject" value="{{ message_template.subject }}" >
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input type="text" class="form-control" id="subject" name="subject" value="{{ message_template.subject }}" disabled />
                    {% endif %}
              </div>

              <div class="form-group">
                    <label for="message">Message:</label>
                    {%- if template_mode == "add" %}
                    <textarea class="form-control" id="message" name="message" rows="5"></textarea>
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <textarea class="form-control" id="message" name="message" rows="5">{{ message_template.message }}</textarea>
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <textarea disabled class="form-control" id="message" name="message" rows="5">{{ message_template.message }}</textarea>
                    {% endif %}
              </div>

              <div class="form-group">
                  <label for="account_id">Account:</label>
                  <select id="account_id" name="account_id" class="form-control" {%- if template_mode == "delete" %}disabled{% endif %}>
                      <option value="">Select Account</option>
                      {%  for account in accounts %}
                        {%- if template_mode == "add" %}
                          <option value="{{ account.id }}">{{ account.name }}</option>
                        {% else %}
                          <option {% if account.id == message_template.account_id %}selected{% endif %} value="{{ account.id }}">{{ account.name }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
              </div>

              <hr>

             </div>

            <div class="col-md-1"></div>

            <div class="col-md-4">

            </div>
        </div>

        <div class="form-group">
          {%- if template_mode == "add" %}
            <input type="submit" class="btn btn-primary" name="submit-add" value="Submit">
          {% endif %}
          {%- if template_mode == "edit" %}
            <input type="submit" class="btn btn-primary" name="submit-edit" value="Update">
          {% endif %}
          {%- if template_mode == "delete" %}
            <input type="submit" class="btn btn-danger" name="submit-delete" value="Delete">
          {% endif %}
        </div>


    </form>

{% endblock %}

{% block plugins %}

  {%- if template_mode != "delete" %}
  <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $("#messages-form").validate({
              rules: {
                  name: "required",
                  subject: "required",
                  message: "required",
                  account_id: "required"
              }
          });
      });
  </script>
  {% endif %}

{% endblock %}
