{% extends "layouts/layout1.html" %}
{% set active_section = "archives" %}

{% block title %}Archive{% endblock %}

{% block content %}

    {%- if template_mode == "add" %}
      <h3>Add Archive</h3>
    {% endif %}
    {%- if template_mode == "delete" %}
      <h3>Delete Archive</h3><p>Are you sure???</p>
    {% endif %}

    <hr>

    <form id="archives-form" method="post" action="" enctype=multipart/form-data>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="recipient_name">Recipient Name:</label>
                    {%- if template_mode == "add" %}
                    <input id="recipient_name" name="recipient_name" type="text" class="form-control" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input id="recipient_name" name="recipient_name" type="text" class="form-control" value="{{ archive.recipient_name }}" />
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input id="recipient_name" name="recipient_name" type="text" class="form-control" value="{{ archive.recipient_name }}" disabled />
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="recipient_email">Recipient Email:</label>
                    {%- if template_mode == "add" %}
                    <input id="recipient_email" name="recipient_email" type="text" class="form-control" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input id="recipient_email" name="recipient_email" type="text" class="form-control" value="{{ archive.recipient_email }}" />
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input id="recipient_email" name="recipient_email" type="text" class="form-control" value="{{ archive.recipient_email }}" disabled />
                    {% endif %}
                </div>

                <hr>

                {%- if template_mode != "delete" %}
                  <div class="form-group">
                      <input id="notify" name="notify" type="checkbox" class="form-check-input" value="1" /> Send Notification
                  </div>
                {% endif %}

                {%- if template_mode == "delete" %}
                  <div class="form-group">
                      <label for="created">Date Created:</label>
                      <input disabled id="created" name="created" type="text" class="form-control" value="{{ archive.created }}" />
                  </div>

                  <div class="form-group">
                      <label for="updated">Last Updated:</label>
                      <input disabled id="updated" name="updated" type="text" class="form-control" value="{{ archive.updated }}" />
                  </div>

                  <div class="form-group">
                      <label for="archive_status">Archive Status</label>
                      <input disabled id="archive_status" name="archive_status" type="text" class="form-control" value="{{ archive.archive_status.name }}" />
                  </div>


                  <div class="form-group">
                      <label for="notification_status">Notification Status</label>
                      <input disabled id="notification_status" name="notification_status" type="text" class="form-control" value="{{ archive.notification_status.name }}" />
                  </div>

                  <div class="form-group">
                      <label for="downloads">Downloads</label>
                      <input disabled id="downloads" name="downloads" type="text" class="form-control" value="{{ archive.downloads }}" />
                  </div>
                {% endif %}

            </div>

            <div class="col-md-1"></div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="files">Files:</label>
                    <ul class="list-unstyled">
                    {%  for file in files %}
                        {% if file.name %}
                            <li>
                                {%- if template_mode == "add" %}
                                  <input class="form-check-input" type="checkbox" id="files" name="files" value="{{ file.id }}"> {{ file.name }}
                                {% endif %}
                                {%- if template_mode == "edit" %}
                                  <input class="form-check-input" type="checkbox" id="files" name="files" {% if file in archive.files %}checked{% endif %} value="{{ file.id }}"> {{ file.name }}
                                {% endif %}
                                {%- if template_mode == "delete" %}
                                  <input disabled class="form-check-input" type="checkbox" id="files" name="files" {% if file in archive.files %}checked{% endif %} value="{{ file.id }}"> {{ file.name }}
                                {% endif %}
                                <b>|</b> {{ file.title }}<br>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

        <hr>

        <div class="form-group">
        {%- if template_mode == "add" %}
          <input type="submit" class="btn btn-primary" name="submit-add" value="Submit">
        {% endif %}
        {%- if template_mode == "edit" %}
          <input type="submit" class="btn btn-primary" name="submit-edit" value="Update">
        {% endif %}
        {%- if template_mode == "delete" %}
        <input type="submit" class="btn btn-danger" name="submit-delete" value="Delete">
        {% endif %}
        </div>

    </form>

{% endblock %}

{% block plugins %}

<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#archives-form").validate({
            rules: {
                recipient_name: "required",
                recipient_email: "required",
                files: "required"
            }
        });
    });
</script>

{% endblock %}
