
{% extends "layouts/layout1.html" %}
{% set active_page = "profile" %}

{% block title %}Profile{% endblock %}


{% block content %}

    <h3>Account</h3>
    <hr>
    {% if user %}
      <p>email: {{ user.email }}</p>
      <p>password: {{ user.password }}</p>
    {% else %}
      <p>No User Info</p>
    {% endif %}


    <h3>Profile</h3>
    <hr>

    {% if profile %}
      <p>{{ profile.username }}</p>
      <p>{{ profile.bio }}</p>
      <p>{{ profile.name }}</p>
      <p>{{ profile.address1 }}</p>
      <p>{{ profile.address2 }}</p>
      <p>{{ profile.city }}</p>
      <p>{{ profile.state }}</p>
      <p>{{ profile.zip }}</p>
      <p>{{ profile.phone }}</p>
      <p><a href="{{ url_for('profiles_bp.profile_edit') }}" class="btn btn-success">Edit Profile</a></p>
      <p><a href="{{ url_for('profiles_bp.profile_delete') }}" class="btn btn-danger">Delete Profile</a></p>
    {% else %}
      <p>No Profile</p>
      <p><a href="{{ url_for('profiles_bp.profile_add') }}" class="btn btn-success">Create Profile</a></p>
    {% endif %}


{% endblock %}

{% block plugins %}



{% endblock %}
