<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="google-site-verification" content="OX5Gzysabqm3LVYC_GXNoZtaaFg-0dKX3XtiaGKEGq0" />

        <title>Coalman {% block title %}{% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


        {% block resources %}{% endblock %}
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('pages_bp.index') }}">Coalman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if current_user.is_authenticated %}

          <ul class="nav mr-auto">

            <li class="nav-item"><a class="nav-link" href="{{ url_for('pages_bp.dashboard') }}">Dashboard</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                {%  for project in current_projects %}
                    <a class="dropdown-item" href="{{ url_for('projects_bp.project', id=project.id) }}">{{ project.name }}</a>
                {% endfor %}
              </div>
            </li>
          </ul>

            <ul class="nav justify-content-end">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.email }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
                  <a class="dropdown-item" href="{{ url_for('accounts_bp.account') }}">Account</a>
                  <a class="dropdown-item" href="{{ url_for('profiles_bp.profile') }}">Profile</a>
                  {% if current_user.has_role('admin') %}
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('projects_bp.projects') }}">Projects</a>
                    <a class="dropdown-item" href="{{ url_for('users_bp.users') }}">Users</a>
                    <a class="dropdown-item" href="{{ url_for('profiles_bp.profiles') }}">Profiles</a>
                    <a class="dropdown-item" href="{{ url_for('files_bp.files') }}">Files</a>
                    <a class="dropdown-item" href="{{ url_for('archives_bp.archives') }}">Archives</a>
                    <a class="dropdown-item" href="{{ url_for('message_templates_bp.message_templates') }}">Message Templates</a>
                    <a class="dropdown-item" href="{{ url_for('notifications_bp.notifications') }}">Notifications</a>
                  {% endif %}
                  {% if current_user.has_role('super-admin') %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('manage_accounts_bp.accounts') }}">Accounts</a>
                    <a class="dropdown-item" href="{{ url_for('manage_projects_bp.projects') }}">Projects</a>
                    <a class="dropdown-item" href="{{ url_for('manage_users_bp.users') }}">Users</a>
                    <a class="dropdown-item" href="{{ url_for('manage_profiles_bp.profiles') }}">Profiles</a>
                    <a class="dropdown-item" href="{{ url_for('manage_files_bp.files') }}">Files</a>
                    <a class="dropdown-item" href="{{ url_for('manage_archives_bp.archives') }}">Archives</a>
                    <a class="dropdown-item" href="{{ url_for('manage_message_templates_bp.message_templates') }}">Message Templates</a>
                    <a class="dropdown-item" href="{{ url_for('manage_notifications_bp.notifications') }}">Notifications</a>
                    <a class="dropdown-item" href="{{ url_for('manage_tags_bp.tags') }}">Tags</a>
                    <a class="dropdown-item" href="{{ url_for('manage_tags_bp.tag_groups') }}">Tag Groups</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('security.logout') }}">Logout</a>
                </div>

              </li>

            </ul>

            {% else %}
            <!--
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('security.login') }}">Login</a></li>
            </ul>
            //-->
            {% endif %}

      </nav>


    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="container">
        <hr>
        <p>Coalman © 2019</p>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% block plugins %}{% endblock %}


    </body>
</html>
