{% extends "layouts/layout1.html" %}
{% set active_section = "users" %}

{% block title %}User{% endblock %}

{% block content %}

    <h3>Account Settings</h3>

    <hr>

    <form id="users-form" method="post" action="">

      <div class="row">
          <div class="col-md-7">

              <div class="form-group">
                <label for="recipient_name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ current_user.account.name }}" {% if ((current_user.account.name == "ROOT") or not (current_user.has_role('admin') or current_user.has_role('super-admin'))) %}disabled{% endif %} />
              </div>

             </div>

            <div class="col-md-1"></div>

            <div class="col-md-4">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Switch Accounts
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  {%  for account in current_accounts %}
                    {%- if account.id == current_user.account.id %}
                      <a href="#" class="dropdown-item disabled">{{ account.name }}</a>
                    {% else %}
                      <a class="dropdown-item" href="{{ url_for('accounts_bp.switch_account', id=account.id) }}">{{ account.name }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>



            </div>
        </div>

        {% if (current_user.has_role('admin') or current_user.has_role('super-admin')) %}
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="submit-edit" value="Update" {% if current_user.account.name == "ROOT" %}disabled{% endif %}>
        </div>
        {% endif %}

    </form>

{% endblock %}

{% block plugins %}

  {%- if template_mode != "delete" %}
  <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $("#users-form").validate({
              rules: {
                  name: "required"
              }
          });
      });
  </script>
  {% endif %}

{% endblock %}
