{% extends "layouts/layout1.html" %}
{% set active_section = "files" %}

{% block title %}File{% endblock %}

{% block content %}

    {%- if template_mode == "add" %}
      <h3>Add File</h3>
    {% endif %}
    {%- if template_mode == "edit" %}
      <h3>Edit File</h3>
    {% endif %}
    {%- if template_mode == "delete" %}
      <h3>Delete File</h3><p>Are you sure???</p>
    {% endif %}

    <hr>

    <form id="files-form" method="post" action="" enctype=multipart/form-data>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="title">Title</label>
                    {%- if template_mode == "add" %}
                    <input id="title" name="title" type="text" class="form-control" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input id="title" name="title" type="text" class="form-control" value="{{ file.title }}" />
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input id="title" name="title" type="text" class="form-control" value="{{ file.title }}" disabled />
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    {%- if template_mode == "add" %}
                    <input id="description" name="description" type="text" class="form-control" value="" />
                    {% endif %}
                    {%- if template_mode == "edit" %}
                    <input id="description" name="description" type="text" class="form-control" value="{{ file.description }}" />
                    {% endif %}
                    {%- if template_mode == "delete" %}
                    <input id="description" name="description" type="text" class="form-control" value="{{ file.description }}" disabled />
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="project_id">Project:</label>
                    <select id="project_id" name="project_id" class="form-control" {%- if template_mode == "delete" %}disabled{% endif %}>
                        <option value="">Select Project</option>
                        {%  for project in current_projects %}
                          {%- if template_mode == "add" %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                          {% else %}
                            <option {% if project.id == file.project_id %}selected{% endif %} value="{{ project.id }}">{{ project.name }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <hr>

                <div class="form-group">
                  {%- if template_mode == "add" %}
                    <label for="file">Upload File</label>
                    <input id="file" name="file" type="file" class="form-control-file">
                  {% endif %}
                  {%- if template_mode == "edit" %}
                    <label for="file">Upload new file</label>
                    <input id="file" name="file" type="file" class="form-control-file">
                  {% endif %}
                  {%- if template_mode == "delete" %}
                    <label for="name">Uploaded File</label>
                    <input disabled id="name" name="name" type="text" class="form-control" value="{{ file.name }}" />
                    <a href="{{ url_for('files_bp.download_file', id=file.id) }}" class="btn btn-block btn-xs" target="_blank">Preview</a>
                  {% endif %}
                </div>

            </div>

            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="file">Tags:</label>
                  {%  for group in current_tag_groups %}
                      <p>{{ group.description }}</p>
                      <ul class="list-unstyled">
                          {%  for tag in current_tag_hash[group.name] %}
                            {%- if template_mode == "add" %}
                              <li><input class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ tag.id }}"> {{ tag.name }}</li>
                            {% endif %}
                            {%- if template_mode == "edit" %}
                              <li><input {% if tag in file.tags %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ tag.id }}"> {{ tag.name }}</li>
                            {% endif %}
                            {%- if template_mode == "delete" %}
                              <li><input disabled {% if tag in file.tags %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ tag.id }}"> {{ tag.name }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <br>
                  {% endfor %}
              </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
        {%- if template_mode == "add" %}
            <input type="submit" class="btn btn-primary" name="submit-add" value="Submit">
        {% endif %}
        {%- if template_mode == "edit" %}
            <input type="submit" class="btn btn-primary" name="submit-edit" value="Update">
        {% endif %}
        {%- if template_mode == "delete" %}
            <input type="submit" class="btn btn-danger" name="submit-delete" value="Delete">
        {% endif %}
        </div>

    </form>

{% endblock %}

{% block plugins %}

  <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $("#files-form").validate({
              rules: {
                  title: "required",
                  project_id: "required",
                  {%- if template_mode == "add" %}
                    file:"required"
                  {% endif %}
              }
          });
      });
  </script>

{% endblock %}
