
{% extends "layouts/layout1.html" %}
{% set active_page = "profile" %}

{% block title %}Profile{% endblock %}


{% block content %}

    <h3>Account</h3>
    <hr>
    {% if user %}
      <p>email: {{ user.email }}</p>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" class="form-control" id="password" name="password" value="" >
      </div>
      <div class="form-group">
        <label for="password2">Re-enter Password:</label>
        <input type="text" class="form-control" id="password2" name="password2" value="" >
      </div>
      <p><a href="{{ url_for('profiles_bp.profile_add') }}" class="btn btn-success">Update Password</a></p>
    {% else %}
      <p>No User Info</p>
    {% endif %}

    <br/>

    <h3>Profile</h3>
    <hr>

    {% if profile %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ profile.username }}" >
    </div>
    <div class="form-group">
        <label for="bio">Bio:</label>
        <input type="text" class="form-control" id="bio" name="bio" value="{{ profile.bio }}" >
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ profile.name }}" >
    </div>
    <div class="form-group">
        <label for="address1">Address 1:</label>
        <input type="text" class="form-control" id="address1" name="address1" value="{{ profile.address1 }}" >
    </div>
    <div class="form-group">
        <label for="address2">Address 2:</label>
        <input type="text" class="form-control" id="address1" name="address2" value="{{ profile.address2 }}" >
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" value="{{ profile.city }}" >
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" value="{{ profile.state }}" >
    </div>
    <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control" id="zip" name="zip" value="{{ profile.zip }}" >
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}" >
    </div>
      <p><a href="{{ url_for('profiles_bp.profile_edit', id=profile.id) }}" class="btn btn-success">Save Profile</a></p>
    {% else %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="">
    </div>
    <div class="form-group">
        <label for="bio">Bio:</label>
        <input type="text" class="form-control" id="bio" name="bio" value="">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="">
    </div>
    <div class="form-group">
        <label for="address1">Address 1:</label>
        <input type="text" class="form-control" id="address1" name="address1" value="">
    </div>
    <div class="form-group">
        <label for="address2">Address 2:</label>
        <input type="text" class="form-control" id="address1" name="address2" value="">
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" value="">
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" value="">
    </div>
    <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control" id="zip" name="zip" value="">
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" value="">
    </div>
      <p><a href="{{ url_for('profiles_bp.profile_add') }}" class="btn btn-success">Create Profile</a></p>
    {% endif %}


{% endblock %}

{% block plugins %}



{% endblock %}
