{% extends "layouts/layout1.html" %}
{% set active_section = "admin_message_edit" %}

{% block title %}Notification Message{% endblock %}

{% block content %}

    <h3>Notification Message</h3>

    <form id="mail_setting-form" method="post" action="">

        <div class="row">
            <div class="col-md-7">

                <hr>

                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" name="subject" value="{{ message.subject }}" >
                </div>

                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5">{{ message.message }}</textarea>
                </div>

                <hr>

             </div>

            <div class="col-md-1"></div>

            <div class="col-md-4">

            </div>
        </div>

        <div class="form-group">
            <input type="Submit" class="btn btn-primary" name="submit-edit" value="Update">
        </div>

    </form>

{% endblock %}

{% block plugins %}

    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#mail_setting-form").validate({
                rules: {
                    subject: "required",
                    message: "required"
                }
            });
        });
    </script>

{% endblock %}