{% extends "layouts/layout1.html" %}
{% set active_section = "admin_files" %}

{% block title %}Files{% endblock %}

{% block content %}

    <h3>File List</h3>
    <p>API: <a href="/api/v1/files" target="_blank">/api/v1/files</a></p>
    <hr>

    <table id="files-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Tags:
                <button class="btn btn-region btn-xs">region</button>
                <button class="btn btn-vertical btn-xs">vertical</button>
                <button class="btn btn-category btn-xs">category</button>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%  for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.desc }}</td>
                <td>
                    {%  for filter_item in file.filters %}
                        <button class="btn btn-{{ filter_item.filter_type.tag }} btn-xs">{{ filter_item.name }} </button>
                    {% endfor %}
                </td>
                <td>
                    <a href="/download/{{ file.id }}" class="btn btn-block btn-xs" target="_blank">Preview</a>
                    <a href="/admin/files/edit/{{ file.id }}" class="btn btn-warning btn-block btn-xs">Edit</a>
                    <a href="/admin/files/delete/{{ file.id }}" class="btn btn-danger btn-block btn-xs">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block plugins %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            $('#files-table').DataTable( {
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": 4
                } ]
            } );
        } );

    </script>

{% endblock %}