{% extends "layouts/layout1.html" %}
{% set active_section = "admin_packages_add" %}

{% block title %}Add Package{% endblock %}

{% block content %}

    <h3>Add Package</h3>
    <hr>

    <form id="packages-form" method="post" action="" enctype=multipart/form-data>


        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label for="user_name">Recipient Name:</label>
                    <input id="user_name" name="user_name" type="text" class="form-control" value="" />
                </div>

                <div class="form-group">
                    <label for="user_email">Recipient Email:</label>
                    <input id="user_email" name="user_email" type="text" class="form-control" value="" />
                </div>

                <div class="form-group">
                    <input id="notify" name="notify" type="checkbox" class="form-check-input" value="1" /> Send Notification
                </div>

                <hr>

            </div>

            <div class="col-md-1"></div>

            <div class="col-md-7">
                <div class="form-group">
                    <label for="files">Files:</label>
                    <ul class="list-unstyled">
                    {%  for file in files %}
                        {% if file.name %}
                            <li>
                                <input class="form-check-input" type="checkbox" id="files" name="files" value="{{ file.id }}"> {{ file.name }}
                                <b>|</b> {{ file.title }}<br>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

        <hr>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="submit-add" value="Add">
        </div>

    </form>

{% endblock %}

{% block plugins %}

    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#packages-form").validate({
                rules: {
                    user_name: "required",
                    user_email: "required",
                    files: "required"
                }
            });
        });
    </script>

{% endblock %}
