{% extends "layouts/layout1.html" %}
{% set active_section = "admin_files" %}

{% block title %}Delete {{ file.name }}{% endblock %}

{% block content %}

    <h2>Delete File</h2>
    <h3>Are you sure???</h3>
    <hr>

    <form id="files-form" method="post" action="">

        <div class="form-group">
            <label for="title">Title</label>
            <input disabled id="title" name="title" type="text" class="form-control" value="{{ file.title }}" />
        </div>

        <div class="form-group">
            <label for="desc">Description</label>
            <input disabled id="desc" name="desc" type="text" class="form-control" value="{{ file.desc }}" />
        </div>

        <hr>

        <div class="form-group">
            <label for="name">File</label>
            <input disabled id="name" name="name" type="text" class="form-control" value="{{ file.name }}" />
        </div>

        <hr>

        <div class="form-group">
            <p><button class="btn btn-region btn-xs">region</button></p>
            <div class="form-check form-check-inline">
                {%  for filter in filter_hash['region'] %}
                    <input disabled {% if filter in file.filters %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ filter.id }}"> {{ filter.name }}
                {% endfor %}
            </div>
            <br>
            <p><button class="btn btn-vertical btn-xs">vertical</button></p>
            <div class="form-check form-check-inline">
                {%  for filter in filter_hash['vertical'] %}
                    <input disabled {% if filter in file.filters %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ filter.id }}"> {{ filter.name }}
                {% endfor %}
            </div>
            <br>
            <p><button class="btn btn-category btn-xs">category</button></p>
            <div class="form-check form-check-inline">
                {%  for filter in filter_hash['category'] %}
                    <input disabled {% if filter in file.filters %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ filter.id }}"> {{ filter.name }}
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <input type="submit" class="btn btn-danger" name="submit-delete" value="Delete">
        </div>

    </form>

{% endblock %}
