{% extends "layouts/layout1.html" %}
{% set active_page = "admin_filters_edit" %}

{% block title %}{{ filter.filter_type|upper }} Tag: {{ filter.name }}{% endblock %}

{% block content %}

    <form id="form" method="post" action="">

        <div class="form-element">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" value="{{ filter.name }}" />
        </div>

        <div class="form-element">
            <label for="name">Type:</label>
            <select id="filter_type" name="filter_type">
                {%  for filter_type in filter_types %}
                    <option {% if filter_type.filter_type == filter.filter_type %}selected{% endif %} value="{{ filter_type.id }}">{{ filter_type.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-element">
            <label for="weight">Weight:</label>
            <input id="weight" name="weight" type="text" value="{{ filter.weight }}" />
        </div>

        <div class="form-element">
            <input type="submit" name="submit-edit" value="Update">
        </div>

        <br><br>

        <div class="form-element">
            <a href="/admin/filters/delete/{{ filter.id }}">DELETE</>
        </div>

    </form>

{% endblock %}
