{% extends "layouts/layout1.html" %}
{% set active_section = "admin_filters" %}

{% block title %}{% if filter_type %}({{ filter_type.name }}){% endif %} Tags{% endblock %}

{% block content %}

    <h3>Tag List {% if filter_type %}({{ filter_type.name }}){% endif %}</h3>

    <div class="form-group">
        <label for="name">Type:</label>
        <select id="filter_type_tag" name="filter_type_tag" class="form-control">
            <option value="all">All</option>
            {%  for filter_type_item in filter_types %}
                <option {% if filter_type_item.id == filter_type.id %}selected{% endif %} value="{{ filter_type_item.tag }}">{{ filter_type_item.name }}</option>
            {% endfor %}
        </select>
    </div>
        <p>API: <a href="/api/v1/filters/{{ filter_type.tag }}" target="_blank">/api/v1/filters/{{ filter_type.tag }}</a></p>
    <hr>

    <table id="filters-table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Weight</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%  for filter in filters %}
            <tr>
                <td>{{ filter.id }}</td>
                <td>{{ filter.name }}</td>
                <td><button class="btn btn-{{ filter.filter_type.tag }} btn-xs">{{ filter.filter_type.name }} </button></td>
                <td>{{ filter.weight }}</td>
                <td>
                    <a href="/admin/filters/edit/{{ filter.id }}" class="btn btn-warning btn-block btn-xs">Edit</a>
                    <a href="/admin/filters/delete/{{ filter.id }}" class="btn btn-danger btn-block btn-xs">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block plugins %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            $('#filters-table').DataTable( {
                "columnDefs": [ {
                    "searchable": false,
                    "orderable": false,
                    "targets": 4
                } ]
            } );

            $('#filter_type_tag').change(function() {
                var filter_type_tag = $(this).val();
                if (filter_type_tag) {
                    window.location = '/admin/filters/' + filter_type_tag;
                }
                return false;
            });

        } );

    </script>

{% endblock %}