{% extends "layouts/layout1.html" %}
{% set active_section = "admin_files_delete" %}

{% block title %}Delete {{ file.name }}{% endblock %}

{% block content %}

    <h3>Delete File</h3>
    <p>Are you sure???</p>
    <hr>

    <form id="files-form" method="post" action="">

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input disabled id="title" name="title" type="text" class="form-control" value="{{ file.title }}" />
                </div>

                <div class="form-group">
                    <label for="desc">Description</label>
                    <input disabled id="desc" name="desc" type="text" class="form-control" value="{{ file.desc }}" />
                </div>

                <hr>

                <div class="form-group">
                    <label for="name">File</label>
                    <input disabled id="name" name="name" type="text" class="form-control" value="{{ file.name }}" />
                </div>

            </div>

            <div class="col-md-1"></div>

             <div class="col-md-4">
                <div class="form-group">
                    {%  for group in tag_groups %}
                        <p><button class="btn btn-{{ group.tag_id }} btn-xs">{{ group.name }}</button></p>
                        <ul class="list-unstyled">
                            {%  for tag in tag_hash[group.tag_id] %}
                                <li><input disabled {% if tag in file.tags %}checked{% endif %} class="form-check-input" type="checkbox" id="tags" name="tags" value="{{ tag.id }}"> {{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                    {% endfor %}
                </div>

            </div>
        </div>

        <hr>

        <div class="form-group">
            <input type="submit" class="btn btn-danger" name="submit-delete" value="Delete">
        </div>

    </form>

{% endblock %}
