{% extends "layouts/layout1.html" %}
{% set active_section = "admin_users_edit" %}

{% block title %}Add User{% endblock %}

{% block content %}

    <h3>Add User</h3>

    <form id="users-form" method="post" action="">

        <div class="row">
            <div class="col-md-7">

                <hr>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" value="" >
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" value="" >
                </div>

                <div class="form-group">
                    <label for="name">Role:</label>
                    <select id="role" name="role" class="form-control">
                        <option value="">Select Type</option>
                        {%  for role in roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <hr>

             </div>

            <div class="col-md-1"></div>

            <div class="col-md-4">

            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="submit-add" value="Submit">
        </div>

    </form>

{% endblock %}

{% block plugins %}

    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#users-form").validate({
                rules: {
                    email: "required",
                    password: "required",
                    role: "required"
                }
            });
        });
    </script>

{% endblock %}